<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Tes achats sur andreasobrero-naturopathe.com</title>
  </head>
  <body>
    <h2>Merci pour tes achats sur <u>andreasobrero-naturopathe.com</u> !</h2>
    <p> Ton achat peut être téléchargé en <b>pièce jointe.</b></p>
    <p> Ce mail te permettra d'y accéder autant de fois que tu le souhaite. <b>Conserve-le !</b></p>
  </body>
</html>