.section-google {
  height: auto;

  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .Main__Container-sc-1n4ud0o-0 > a {
    display: none !important;
  }
}