.section-naturopathy {
  max-height: 700px;

  .section-content {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;

    .inner {
      width: 80%;

      h2 {
        text-transform: uppercase;
        font-family: "Gilroy-ExtraBold", serif;
        font-weight: bold;
        font-size: 42px;
        line-height: 1;
        text-align: left;
      }
    }
  }

  .section-image {
    height: 700px;
    background-image: url("../../../assets/images/7068357.jpg");
    background-position: right;
    background-size: cover;
  }
}