// INTER _____________________________________________
@font-face {
  font-family: "Inter-Light";
  src: url("../../assets/fonts/Inter-Light.otf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../../assets/fonts/Inter-Medium.otf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../assets/fonts/Inter-Bold.otf");
}


// GILROY _____________________________________________
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../../assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../../assets/fonts/Gilroy-ExtraBold.ttf");
}