.programme {
  height: auto;

  overflow: hidden;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: scale(1.03, 1.03);
  }

  header {
    width: 90%; height: 200px;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;


    .image {
      height: 100%; width: 30%;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 80%;
      }
    }

    .header-content {
      height: 100%; width: 70%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      h4 {
        text-transform: uppercase;
      }
    }
  }

  footer {
    width: 100%; height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;

    .price {
      height: 40px; width: auto;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;

      background-color: #f3f2d9;
      border-radius: 10px 0 0 10px;
    }

    button {
      height: 40px; width: auto;

      margin: 0;
      padding: 5px 10px;

      border-radius: 0 10px 10px 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .image {
    width: 25px;
  }

  .header-content {
    h4 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
}