@import 'programme';

.section-programs {
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;

  h2 {
    margin-top: 90px !important;
    margin-bottom: 40px;
  }
}