.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  position: relative;

  background: #6ba839;
  border: none;

  &:hover {
    background: #4f7a29;
  }

  .counter {
    height: 18px; width: 18px;
    position: absolute;

    top: -5px; right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #f30000;
    border-radius: 50%;
    font-size: 12px;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}