.navbar-content {
  .navbar-nav {
    .nav-item {
      .nav-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: "";
          height: 2px; width: 60%;

          position: absolute;
          margin: 0 auto; top: 80%;

          border-radius: 10px;
          background-color: #000;
          transition: opacity .3s ease;
          opacity: 0;
        }

        &:hover {
          color: black;

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}