.form-contact {
  width: 80%;

  opacity: 0;
  transition: opacity .3s ease-in-out;

  .form-content {
    width: 100%; height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .chart {
      width: 100%;

      display: flex;
      position: relative;
      flex-direction: column;

      .invalid-msg {
        display: none;
        position: relative;

        color: red;
        font-size: 12px;
      }
    }

    .invalid {
      input {
        border: 1px solid red;
      }

      .invalid-msg {
        display: block;
      }
    }
  }
}