.checkout-form {
  height: auto; width: auto;

  padding: 25px 50px;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  button {
    margin-top: 25px;

    overflow: hidden;
    box-sizing: border-box;

    .animation {
      max-height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }
}