@import 'checkoutForm';
@import 'paymentSuccess';

.payment-page {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: #f1ede9;
}